<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header">
<link rel="stylesheet"
	href="/audit-web/src/main/resources/templates/css/code.css">
</head>
<body>
	<div class="container">
		<h1>
			<img src="https://image.flaticon.com/icons/png/512/476/476844.png"
				style="width: 50px;">
		</h1>
		<a th:href="@{/buddies/yourBuddies}" class="btn btn-info">Back</a><br>
		<br>
		<h1 class="text-info">Profile</h1>
		<h4 class="text-info" th:text="${email}"></h4>
		<img th:src="${image}" width="100%" /> <label>Full name:</label>
		<h6 class="text-info" th:text="${profile.fullName}"></h6>
		<label>Birthday:</label>
		<h6 class="text-info" th:text="${profile.birthday}"></h6>
		<label>Address:</label>
		<h6 class="text-info" th:text="${profile.address}"></h6>
		<label>Country:</label>
		<h6 class="text-info" th:text="${profile.country}"></h6>
	</div>
	<br>
</body>
</html>