<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>
<body>
	<div class="container">
		<h1>
			<img src="https://image.flaticon.com/icons/png/512/476/476844.png"
				style="width: 50px;">
		</h1>
		<h3 th:text="${success}" style="background-color: MediumSeaGreen;"
			class="rounded"></h3>
		<h3 th:text="${error}" style="background-color: Tomato;"
			class="rounded"></h3>
		<a th:href="@{/buddies}" class="btn btn-info">Back</a> <br> <br>
		<h1 class="text-info">Search Buddy</h1>
		<form method="GET" action="/buddies/addNewBuddy"
			enctype="multipart/form-data">
			<input placeholder="Insert e-mail" type="text" class="form-control"
				th:field="${user.email}" required name="email"> <br>
			<button type="submit" class="btn btn-info">Search Buddy</button>
		</form>
	</div>
</body>