<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>

<body>
	<div>

		<img src="https://image.flaticon.com/icons/png/512/476/476844.png"
			style="width: 50px;"><br> <br> <a
			th:href="@{/buddies}" class="btn btn-info">Back</a> <br>
		<h3 th:text="${message}"
			style="background-color: Tomato; font-size: 15px;" class="rounded"></h3>
		<h3 th:text="${messageGreen}"
			style="background-color: MediumSeaGreen; font-size: 15px;"
			class="rounded"></h3>

		<table class="table">
			<thead class="table table-info table-striped">
				<tr>
					<td></td>
					<td>Buddy</td>
					<td>Add buddy</td>

				</tr>
			</thead>
			<tbody>
				<tr th:each="buddy : ${buddies}">
					<td><img
						src="https://image.flaticon.com/icons/png/512/476/476844.png"
						style="width: 35px;"></td>
					<td><a th:href="@{/buddies/showBuddy(email=${buddy.email})}"
						th:text="${buddy.email}" class="btn btn-info"></a></td>
					<td><a th:href="@{/buddies/addBuddy(email=${buddy.email})}"><img
							src="https://image.flaticon.com/icons/png/512/753/753317.png"
							style="width: 35px;"></a></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>
</html>

