<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>

<body>
	<div class="container">
		<h1>
			<img src="https://image.flaticon.com/icons/png/512/476/476844.png"
				style="width: 50px;">
		</h1>
		<a th:href="@{/buddies}" class="btn btn-info">Back</a> <br><br><br>
		<h3 th:text="${message}" style="background-color: Tomato;"
			class="rounded"></h3>
		<h3 th:text="${messageGreen}"
			style="background-color: MediumSeaGreen;" class="rounded"></h3>

		<table class="table-borderless">
			<tbody>
				<tr th:each="buddy : ${buddies}">
					<td><a th:href="@{/buddies/showBuddy(email=${buddy.email})}"
						th:text="${buddy.email}" class="btn btn-info"></a></td>
					<td><a th:href="@{/buddies/addBuddy(email=${buddy.email})}"><img
							src="https://image.flaticon.com/icons/png/512/753/753317.png"
							style="width: 40px;"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>

