<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<body>
	<div class="container">
		<h1>
			<img src="https://image.flaticon.com/icons/png/512/3655/3655252.png"
				style="width: 50px;">
		</h1>
		<a th:href="@{/audios}" class="btn btn-info">Back</a> <br> <br>
		<h1 class="text-info">Upload Song</h1>
		<form method="POST" action="/audios/add" enctype="multipart/form-data"
			class="form-group mb-5">
			<input type="file" name="audio" accept="audio/*" class="btn btn-info"
				required width="100%" /> <br> <br> <input type="submit"
				value="Upload" class="btn btn-info" width="100%" />
		</form>
	</div>
</body>
</html>