<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>
<body>
	<div>
		<img src="https://image.flaticon.com/icons/png/512/3655/3655252.png"
			style="width: 50px;"><br> <br> <a
			th:href="@{/audios}" class="btn btn-info">Back</a> <br>
		<form method="POST" action="/audios/saveNewName" th:object="${audio}">
			<input type="hidden" class="form-control" th:field="${audio.id}"
				required> <br>
			<h4 class="text-info">Rename audio</h4>
			<input type="text" class="form-control" th:field="${audio.title}"
				required> <br>
			<button type="submit" class="btn btn-info">Insert new name</button>
		</form>
	</div>
</body>