<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>

<body>
	<div>
		<img src="https://image.flaticon.com/icons/png/512/3655/3655252.png"
			style="width: 50px;"><br> <br> <a
			th:href="@{/audios}" class="btn btn-info">Back</a> <br> <br>
		<h4 th:text="${'Send (' + title + ') to:'}" class="text-info"></h4>

		<table class="table-borderless">
			<tbody>
				<tr th:each="buddy : ${buddies}">
					<td><img
						src="https://image.flaticon.com/icons/png/512/889/889578.png"
						style="width: 30px;"></td>
					<td><a th:text="${buddy.email}" class="btn btn-info"
						th:href="@{/audios/sendAudioToBuddy(buddyEmail=${buddy.email})}">
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>

