<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>
<body>
	<div>
		<img src="https://image.flaticon.com/icons/png/512/3655/3655252.png"
			style="width: 50px;"><br> <br> <a
			th:href="@{/audios}" class="btn btn-info">Back</a> <br> <br>
		<table class="table-borderless">
			<thead>
				<tr>
					<td><a th:href="@{/audios/renameAudio(id=*{id})}"><img
							src="https://image.flaticon.com/icons/png/512/126/126794.png"
							style="width: 35px;"></a> <a
						th:href="@{/audios/delete(id=*{id})}"><img
							src="https://image.flaticon.com/icons/png/512/2496/2496733.png"
							style="width: 35px;"></a> <a
						th:href="@{/audios/sendAudio(id=${id})}"><img
							src="https://image.flaticon.com/icons/png/512/889/889578.png"
							style="width: 35px;"></a></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<h4 th:text="${title}" class="text-info"></h4> <audio
							preload="auto" controls>
							<source th:src="${'data:audio/mpeg;base64,'+audio}"
								type="audio/mpeg">
						</audio>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>