<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>
<body>
	<div class="container">
		<h1>
			<img src="https://image.flaticon.com/icons/png/512/833/833539.png"
				style="width: 50px;">
		</h1>
		<a th:href="@{/fotos}" class="btn btn-info">Back</a> <br> <br>
		<h1 class="text-info">New photo</h1>
		<form method="POST" action="/fotos/add" enctype="multipart/form-data"
			class="form-group mb-5">
			<input type="file" name="image" accept="image/png/jpeg"
				class="btn btn-info" required> <br> <br> <input
				type="submit" value="Upload" class="btn btn-info" />
		</form>
	</div>
</body>
</html>