<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: header"></head>
<body>
	<div>

		<img src="https://image.flaticon.com/icons/png/512/833/833539.png"
			style="width: 50px;"> <br> <br> <a
			th:href="@{/fotos}" class="btn btn-info">Back</a><br> <br>
		<table class="table-borderless">
			<tbody>
				<tr>
					<td><a th:href="@{/fotos/renameFoto(id=*{id})}"> <img
							src="https://image.flaticon.com/icons/png/512/126/126794.png"
							style="width: 50px;"></a> <a
						th:href="@{/fotos/delete(id=${id})}"> <img
							src="https://image.flaticon.com/icons/png/512/2496/2496733.png"
							style="width: 50px;"></a> <a
						th:href="@{/fotos/sendFoto(id=${id})}"> <img
							src="https://image.flaticon.com/icons/png/512/889/889578.png"
							style="width: 50px;"></a>
						<h4 class="text-info" th:text="${title}"></h4> <img
						alt="sample" th:src="${image}" width="100%;" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>