<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: header"></head>

<body>
	<div>
		<img src="https://image.flaticon.com/icons/png/512/1177/1177568.png"
			style="width: 50px;"><br> <br> <a
			th:href="@{/userConfig}" class="btn btn-info">Back</a> <br> <br>
		<h4 class="text-info">New password</h4>
		<form method="POST" action="/saveNewPassword" th:object="${user}">
			<input th:field="${user.password}" required class="form-control"
				type="password" placeholder="Password"> <br>
			<button type="submit" class="btn btn-info">Insert new
				password</button>
		</form>
	</div>

</body>
</html>